.MobileMenu {

    position: fixed;

    padding-top: 60px;

    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;

    background-color: #fff;
    box-shadow: 0 .5px 1px #ccc;

    box-sizing: border-box;
    transition: transform 0.3s ease-out;

    &.MobileMenu__Open {
        transform: translateY(0);
    }

    &.MobileMenu__Close {
        transform: translateY(-100%);
    }
    
    a {

        color: #232323;
        letter-spacing: 2px;

        text-decoration: none;

    }

    nav ul,
    .MobileMenu__footer {
        text-align: center;
    }

    nav {

        ul {

            margin: 0;
            padding: 0;

            padding-top: 1rem;
        
            list-style: none;
        
            li {

                padding: .6rem 0;

                &:hover {

                    color: #848484;

                    background-color: rgba(0, 0, 0, .02);

                }

            }

        }

    }

    .MobileMenu__footer {

        bottom: 0;
        display: flex;
        justify-content: space-between;

        border-top: 1px solid #ccc;

        padding: 1.2rem;

    }

}

@media (min-width: 768px) {

    .MobileMenu {

        display: none;

    }

}