.Item {

    img {
        width: 100%;
    }

    .ItemForm {

        h1 {
            letter-spacing: 2px;
            font-weight: normal;
        }

        .ItemForm__price {
            font-size: 1.4rem;
        }

        button {
            width: 100%;
        }

        .ItemForm__form {

            p {
                margin-top: 2rem;
                margin-bottom: 0.5rem;
            }

        }

        .ItemForm__node {
            margin-bottom: 2rem;
        }

        @media (max-width: 768px) {

            .ItemForm__form__wrapper {

                position: fixed;

                width: 100%;
    
                bottom: 0;
                left: 0;

                background: rgba(0, 0, 0, 0.5);

                .ItemForm__form {

                    border-top: 1px solid rgba(0, 0, 0, 0.3);
                    background: #fff;

                    position: fixed;

                    width: 100%;
        
                    bottom: 0;
                    left: 0;

                    .ItemForm__node {

                    }

                    .ItemForm__btn {

                        font-size: 1rem;

                        &:hover,
                        &:active {
                            color: #fff;
                            background-color: #232323;
                        }

                    }
        
                }

            }
        
        }        

    }

}