.List {

    .ListHeader {

        height: 450px;

        background-color: #f7f7f7;
        color: #ccc;

    }

    @media (max-width: 768px) {

        .ListHeader {
            height: 400px;
        }

    }

}