.List {

    .ListHeader {

        height: 450px;

        background-color: #f7f7f7;
        color: #ccc;

    }

    .ListContentMenu__wrapper {

        display: flex;
        justify-content: space-between;

        width: 100%;
        border: 1px solid #ccc;

        margin-bottom: 3rem;

    }

    .ListContentItem {

        border: 1px solid transparent;

        transition: all .3s ease;

        &:hover {
            background-color: rgba(0,0,0, .03)
        }

        a {
            color: #848484;
            text-decoration: none;
        }

        img {
            width: 100%;
        }

        h5 {
            letter-spacing: 2px;
            font-weight: 500;
        }

        p {
            text-align: center;
            margin-top: .5rem;
        }

    }

    @media (max-width: 768px) {

        .ListHeader {
            height: 400px;
        }

    }

}