.SelectPopover {

    position: relative;
    width: 150px;

    button {
        width: 100%;

        font-size: .8rem;
        font-weight: bold;
        letter-spacing: 1px;

        padding: 1.27rem 0;

        background-color: transparent;

        border: none;
        border-left: 1px solid #ccc;

        outline: none;
        cursor: pointer;
    }

    .SelectPopover__popover {

        transition: all 0.5s ease;

        width: 270px;

        position: absolute;

        top: 70px;
        left: -150px;

        color: #232323;
        text-align: center;

        background-color: #fff;

        box-shadow: 0 3px 5px #ccc;

        button {

            border: none;

            &:active,
            &:hover {
                background-color: rgba(0,0,0, .03)
            }

        }

        &.SelectPopover__Open {
            opacity: 1;
        }

        &.SelectPopover__Close {
            opacity: 0;
            z-index: -1;
        }

    }

    @media (max-width: 768px) {

        position: static;

        width: 100%;

        .SelectPopover__popover {

            position: fixed;

            width: 100%;

            bottom: 0;
            left: 0;
            top: auto;

            transition-duration: 0.2s;

            &.SelectPopover__Open {
                transform: translateY(0);
            }
    
            &.SelectPopover__Close {
                transform: translateY(100%);
            }

        }

    } 

}