.erer__btn {
    text-decoration: none;

    padding: .8rem .9rem;

    font-size: .8rem;
    font-weight: bold;

    &.erer__btn-black {
        border: 1px solid #232323;

        color: #ccc;
        background-color: #232323;
    }

}