.erer__container {
    padding: 0 5rem;
}

.erer__row {
    display: flex;
    flex-wrap: wrap;

    .erer__col-3 {
        width: 33.33%;
        padding: 0 1rem;

        box-sizing: border-box;
    }
    
    .erer__col-12 {
        width: 100%;
        padding: 0 1rem;

        box-sizing: border-box;
    }

    @media (max-width: 768px) {

        .erer__col-3,
        .erer__col-12 {

            width: 100%;

        }
    
    }

}

.erer__mt-3 {
    margin-top: 3rem;
}

.erer__btn {
    text-decoration: none;

    padding: .8rem .9rem;

    font-size: .8rem;
    font-weight: bold;

    &.erer__btn-black {
        border: 2px solid #232323;

        color: #ccc;
        background-color: #232323;

        &:hover,
        &:active {
            color: #232323;
            background-color: transparent;
        }

    }

}

.erer__text-center {
    text-align: center;
}