.NavigationBar {

    .erer__container {

        a {
            color : #232323;
            text-decoration: none;
        }

        .NavigationBar__auth {

            display: flex;
            justify-content: flex-end;
            align-items: center;

            width: 100%;

            margin-top: 10px;

            a {

                font-size: .8rem;
                letter-spacing: 2px;

                margin-left: 20px;
                
            }

        }

        .NavigationBar__nav {

            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 100%;

            nav {

                margin-left: -60px;

                ul {
                
                    margin: 0;
                    padding: 0;
                
                    list-style: none;
                
                    text-align: center;
                
                    li {
                        display: inline-block;

                        margin: 20px;

                        a {
                            text-decoration: none;

                            color: #000;

                            &:hover {
                                color: #848484;
                            }

                        }

                    }

                }

            }

        }


        @media (max-width: 768px) {

            .NavigationBar__desktop {
                display: none;
            }

        }

        @media (min-width: 768px) {

            .NavigationBar__mobile {
                display: none;
            }

        }

    }

}