.NavigationBar {


    // border: 1px solid blue;

    .erer__container {

        display: flex;
        justify-content: space-between;
        align-items: center;

        // border: 1px solid red;

        a {
            color : #232323;

            text-decoration: none;

        }

        nav {

            margin-left: -60px;

            ul {
            
                margin: 0;
                padding: 0;
            
                list-style: none;
            
                text-align: center;
            
                li {
                    display: inline-block;

                    margin: 20px;

                    a {
                        text-decoration: none;

                        color: #000;

                        &:hover {
                            color: #848484;
                        }

                    }

                }

            }

        }

        .NavigationBar__right-icon {
            font-size: 1.3rem;
        }

    }

}