.NavigationBar {

    position: fixed;

    width: 100%;

    background-color: #fff;
    box-shadow: 0 .5px 1px #ccc;
    z-index: 2;

    transition: all 0.5s ease-out;

    &.NavigationBar__Transparent {
        background-color: transparent;
        box-shadow: 0 .5px 1px transparent;
    }

    .erer__container {

        a {
            color : #848484;
            text-decoration: none;
        }

        .NavigationBar__nav {

            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 100%;

            nav {

                margin-left: -60px;

                ul {
                
                    margin: 0;
                    padding: 0;
                
                    list-style: none;
                
                    text-align: center;
                
                    li {
                        display: inline-block;

                        padding: 20px;

                        color: #848484;

                        border-bottom: 2px solid transparent;

                        &:hover {
                            background-color: rgba(0, 0, 0, .02);
                        }

                    }


                }

            }

        }

        .NavigationBar__Icon {

            div {
                display: inline;

                svg {
                    margin-left: 20px;
                }

            }

        }


        @media (max-width: 768px) {

            .NavigationBar__desktop {
                display: none;
            }

            .NavigationBar__logo {
                margin-left: 75px;
            }

        }

        @media (min-width: 768px) {

            padding-top: 1.4rem;

            .NavigationBar__mobile {
                display: none;
            }

        }

    }

}