@import url('//fonts.googleapis.com/css?family=Nunito:400|Gothic+A1:300,400,700&amp;subset=korean');

body {
    margin: 0;
    padding: 0;

    color: #848484;

    font-weight: 400;
    font-family: 'Gothic A1', sans-serif;

    button, h1,h2,h3,h4,h5 {
        color: #848484;

        font-weight: 400;
        font-family: 'Gothic A1', sans-serif;
    }
}

main {
    padding-top: 85px;
}

@media (max-width: 768px) {

    main {
        padding-top: 60px;
    }

}