body {
    margin: 0;
    padding: 0;

    color: #848484;

    button, h1,h2,h3,h4,h5 {
        color: #848484;
    }
}

main {
    padding-top: 85px;
}

@media (max-width: 768px) {

    main {
        padding-top: 60px;
    }

}